html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid; /* or flex, depending on what you need */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; /* This helps center content */
  padding-top: 40px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #ae9d72;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

::-webkit-scrollbar-thumb {
  background: #ae9d72;
}

::-webkit-scrollbar-thumb:hover {
  background: #8bba98;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

*:before,
*:after {
  content: "";
  position: absolute;
}
.postcard {
  animation: postcardAnimation 1s infinite;
  transition: transform 0.5s ease, box-shadow 0.35s ease-in-out;
  height: 100px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  position: relative;
  background: #9a031e;
  border-radius: 10px 10px 10px 10px;
  background-image: linear-gradient(
    to right,
    #a14016 78px,
    #5f0f40 30px,
    transparent 80px
  );
  box-shadow: 2px 6px 20px 0px #7f570e;
}

@keyframes postcardAnimation {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.postcard:hover {
  animation: none; /* Stop shake animation */
  transform: scale(1.05); /* Slight scale for hover effect */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Optional: Enhanced shadow on hover */
}

.postcard:after {
  height: 52px;
  width: 100%;
  bottom: 6px;
  right: 0px;
  background: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: inset 4px 6px 0px 0px #e4e0ce;
  background-image: linear-gradient(
    to bottom,
    transparent 6px,
    #e4e0ce 8px,
    transparent 8px,
    transparent 12px,
    #e4e0ce 12px,
    transparent 14px,
    transparent 18px,
    #e4e0ce 18px,
    transparent 20px,
    transparent 24px,
    #e4e0ce 24px,
    transparent 26px,
    transparent 30px,
    #e4e0ce 30px,
    transparent 32px,
    transparent 36px,
    #e4e0ce 36px,
    transparent 38px,
    transparent 42px,
    #e4e0ce 42px,
    transparent 44px,
    transparent 48px,
    #e4e0ce 48px,
    transparent 50px
  );
}

/* .post {
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.title {
  flex: 20%;
  place-content: center;
  text-align: center;
  font-family: "Homemade Apple", cursive;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
}

a {
  color: #ffe882;
  text-decoration: none;
}

.linkToText {
  color: #5f0f40;
}

.postext {
  flex: 60%;
  display: grid;
  place-content: center;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center top;
  z-index: -1;
  filter: blur(5px);
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 5px 25px black);
}

.content {
  position: relative;
  top: 10px;
  background: url("https://i.imgur.com/0kjMcUe.png");
  background-size: 900px;
  background-position: center right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: auto;
  padding: 30px 60px 50px 80px;
  z-index: 1;
  filter: brightness(0.95) sepia(20%) saturate(80%);
  border-radius: 30px;
  height: 90vh;
  clip-path: polygon(
    0% 0%,
    0% 93%,
    5% 98%,
    6% 99%,
    8% 95%,
    12% 94%,
    15% 97%,
    17% 93%,
    20% 98%,
    22% 97%,
    25% 99%,
    31% 94%,
    35% 93%,
    39% 96%,
    43% 93%,
    45% 94%,
    47% 95%,
    50% 92%,
    52% 96%,
    54% 93%,
    58% 92%,
    60% 95%,
    62% 93%,
    65% 96%,
    69% 93%,
    72% 93%,
    75% 94%,
    79% 97%,
    81% 94%,
    85% 93%,
    88% 92%,
    90% 95%,
    93% 93%,
    95% 92%,
    97% 95%,
    100% 97%,
    100% 0%
  );
  overflow: auto;
}

@media screen and (max-width: 1650px) {
  .content {
    width: 60%;
  }
}

@media screen and (max-width: 1500px) {
  .content {
    width: 70%;
  }
}

@media screen and (max-width: 868px) {
  .content {
    padding: 30px 60px 50px 60px;
    width: 75%;
  }
}

@media screen and (max-width: 560px) {
  .content {
    padding: 30px 30px 50px 30px;
    width: 80%;
  }
}

h1 {
  font-family: "Yellowtail", cursive;
  font-size: 80pt;
  margin: 0;
  font-weight: 1;
  color: #26231e;
  mix-blend-mode: color-burn;
}

@media screen and (max-width: 1071px) {
  h1 {
    font-size: 60pt;
  }
}

@media screen and (max-width: 756px) {
  h1 {
    font-size: 46pt;
    line-height: 46pt;
    padding: 20px 0px;
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 40pt;
  }
}

h2 {
  font-size: 30pt;
  font-weight: 300;
  color: #35312b;
  text-shadow: 0.3px 0.3px 2px Sienna;
}

h3 {
  letter-spacing: 2px;
  font-size: 20pt;
  font-weight: 300;
  justify-self: center;
  font-style: italic;
  color: #35312b;
  margin-bottom: 40px;
  text-shadow: 0.6px 0.6px 1px Sienna;
}

@media screen and (max-width: 700px) {
  h3 {
    margin-bottom: 70px;
  }
}

p {
  font-size: 16pt;
  font-weight: 400;
  line-height: 28pt;
  color: #565046;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  text-shadow: 0.2px 0.2px 1.3px Sienna;
}

p:first-of-type {
  align-self: flex-start;
  font-weight: 600;
  position: relative;
}

p span {
  font-family: "Sassy Frass", cursive;
  font-size: 600%;
  font-weight: 1;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 14pt;
  }
}
